.articles {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(450px, 1fr));
  grid-template-rows: repeat(2,240px);

  &__card {
    padding: 55px 77px 37px 105px;
  }

  &__link {
    margin-bottom: 28px;

    font-size: 28px;
    line-height: 33px;
    color: $link-color;

    &:hover {
      text-decoration: underline;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 25px;
    color: rgba(34, 53, 111, 0.5);
  }
}

@media screen and(max-width: $small-screen) {
  .articles {
    grid-template-columns: repeat(1, 1fr);

    &__card {
      padding: 20px 20px 25px;
    }
  }
}
