.button {
  margin-right: 8px;

  border-color: transparent;
  background-color: transparent;

  transition: background-color 0.5s;

  &__link {
    display: inline-block;
    padding: 10px 30px;

    font-size: 16px;
    font-weight: bold;
    color: $yellow-button;
    text-transform: uppercase;

    transition: color 0.5s;

    &:hover {
      color: white;
    }
  }
  
  &:hover {
    background-color: $yellow-button;
  }
}
