.contact-us {
  display: flex;

  background-color: $link-color;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 103px 201px 42px 180px;
  }

  &__link {
    margin-bottom: 230px;

    font-size: 16px;
    font-weight: normal;
    line-height: 12px;
    color: white;
    transition: color 0.5s;

    &:hover {
      color: grey;
    }
  }

  &__title {
    margin-bottom: 75px;

    font-size: 64px;
    line-height: 93.7px;
    letter-spacing: -1px;
    color: white;
  }

  &__text {
    margin-bottom: 75px;

    font-size: 36px;
    line-height: 53px;
    letter-spacing: -0.5px;
    color: white;
  }

  &__link-help {
    font-size: 16px;
    line-height: 23.5px;
    letter-spacing: 1.5px;
    color: $active-color;

    &:hover {
      color: grey;
    }
  }

  &__img {
    min-width: 480px;

    background-image: url(../images/footballer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    overflow: hidden;

  }
}

@media screen and(max-width: $middle-screen ) {
  .contact-us {
    flex-wrap: wrap;

    &__img {
      width: 100vw;
      height: 600px;

      background-position: center;
      background-size: cover;
    }
  }
}

@media screen and(max-width: $small-screen) {
  .contact-us {
    &__content {
      padding: 30px 35px 42px 40px;
    }

    &__title {
      margin-bottom: 20px;

      font-size: 45px;
      line-height: 60px;
    }

    &__link {
      margin-bottom: 40px;
    }

    &__text {
      margin-bottom: 30px;
    }

    &__img {
      min-width: 320px;
      height: 600px;

      background-position: center;
      background-size: cover;
    }
  }
}
