.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  width: 100%;
  height: 80px;
  padding-left: 14%;

  background-color: $active-color;
  line-height: 80px;

  &__text {
    position: absolute;
    left: 15%;

    font-weight: bold;
    color: white;

    &:before {
      position: absolute;
      top: 35px;
      left: -6%;

      content: "";
      display: block;
      width: 10px;
      height: 10px;

      background-image: url("../images/s.svg");
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}

@media screen and(min-width: $large-screen) {
  .footer {
    width: 2000px;
    margin: auto;
  }
}
