.item {
  position: relative;

  display: block;

  font-size: 32px;
  line-height: 33.75px;
  letter-spacing: -0.6%;
  color: white;

  &::after {
    position: absolute;
    left: -24px;
    top: 10px;

    content: "";
    display: block;
    width: 9px;
    height: 9px;

    background-color: #e9b730;
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    top: -23px;
    left: -24px;

    content: "";
    display: block;
    width: 100%;
    height: 1px;
    
    background-color: white;

  }

}
