html,
body,
ul,
li,
button,
a,
input,
textarea,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;

  font-family: "Larsseit", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  list-style-type: none;

}

textarea,
button,
input:focus {
  outline: none;
  border-color: transparent;
}

@media screen and(min-width:2000px) {
  .container {
    margin-left: calc(50% - 1000px);
  }
  .header {
    &__top {
      margin-left: calc(50% - 1000px);
    }
  }
}
