$active-color: #62d0df;
$link-color: #22356f;
$yellow-button: #fab63e;

$phone-screen:0;
$small-screen: 520px;
$middle-screen: 1100px;
$large-screen: 2000px;
$info-screen: 900px;

$help-small-screen: 558px;
$help-large-screen: 1330px;
